.cell {
  align-items: center;
  border-radius: 4px;
  color: #000;
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  height: 75px;
  justify-content: center;
  width: 90px;
}

.cell.enabled {
  color: #fff;
  cursor: pointer;
}

.cell.enabled::after {
  content: attr(data-value);
}

.cell.cover {
  background-color: #ffffff;
}

.cell.fail {
  background-color: #ff0000;
}

.cell.pass {
  background-color: #0000ff;
}

[data-value="1"] {
  animation: move 1s infinite  alternate;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}